.example-container > * {
    width: 100%;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.left{
    float: right;
}

.scroll{
    overflow:scroll;
    overflow-x:hidden;
    height: 200px;
}
